.news-card_elem {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    background: #fff;
    transition: all 0.3s ease;
    text-align: center; /* căn giữa ảnh nhỏ */
}

.news-card_elem:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
}

.news-card_elem img {
    width: 100%;
    height: 300px;           /* cố định chiều cao khung ảnh */
    object-fit: contain;     /* giữ nguyên ảnh, không cắt */
    background-color: #fff;  /* nền trắng khi ảnh nhỏ hơn khung */
    display: block;
}
.markdown-body {
  background: transparent !important; /* bỏ nền trắng */
  color: inherit; /* giữ nguyên màu chữ theo theme */
}

